* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 224, 157);
    font-family: 'Poppins', sans-serif;
    ;
}

ul {
    list-style: none;
    font-style: italic;
}

a {
    text-decoration: none;
    /* font-weight: 700; */
}

img {
    opacity: 0.5;
}

body {
    background: url(./bg_green.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: rgba(255, 197, 73, 0.246) solid;
    border-width: thin;

}

header ul {
    display: flex;
}

header ul li {
    padding: 5px;
}

header ul li a:hover {
    color:rgb(255, 197, 73);
    text-decoration: underline;
}

header ul li a {
    transition: 300ms;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 25px;
}

#arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active{
    display: block !important;
}

#about p {
    max-width: 800px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px ;
}

.form input {
    margin-top: 5px;
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right, #cd7e3e 50%, rgb(255, 197, 73) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
}
.form button:hover{
    background-position: left bottom;
    color: #fff;
}